<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @* <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    *@


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Register</h2>
                <partial name="Register"/>  
            </div>
            <div class="col-sm-6">
                <h1>Login</h1>
                <partial name="Login"/>
            </div>
        </div>
    <div>

</body>
</html>