#home{
  /* background-color: #fee3c6; */
  color: black;
  font-weight: bold;
}
 
 
#add {
/* background-color: #fee3c6; */
color: black;
font-weight: bold;
}

#saved {
  /* background-color: #fee3c6; */
  color: black;
  font-weight: bold;
}

#edit {
  /* background-color: #fee3c6; */
  color: black;
  font-weight: bold;
}

#logout {
  /* background-color: #fee3c6; */
  color: black;
  font-weight: bold;
}

.container{
  margin-top: 20px;
}
/* .navbar{
  margin-top: 20px;
  display: block;
} */

.bannerpicture{
  height: 400px;
  width: 100%;
  margin-top: 100px;
  display: block;
}

/* .gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
} */

.gallery{
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  margin: 15px;
}

.detailsPic{
  width: 200px;
  height: 200px;
}

.h1{
  color: red !important;
}

